editors.csv
euro_stoxx_2018_nov.csv
euro_stoxx_2018_nov.numbers
.ipynb_checkpoints/
QBank_for_review.ipynb
shutdown_point_data.csv
CFA1714-R-EXH19.png
CFA1714-R-EXH20.png
metal_prices.csv
CFA0129-R-EXH2.png
CFA0132-R-EXH4.png
CFA0132-R-EXH7.png
CFA0132-R-EXH8.png
CFA0132-R-EXH10.png
CFA0132-R-EXH11.png
CFA0132-R-EXH12.png
CFA0132-R-EXH13A.png
CFA0132-R-EXH13B.png
CFA0132-R-EXH14.png
CFA0132-R-EXH16.png
CFA0132-R-EXH18.png
canada_gdp.csv
canada_gdp2.csv
CFA0005-R-EXH11.png
CFA0005-R-EXH13.png
CFA0005-R-EXH12.png
CFA0005-R-EXH14.png
CFA0005-R-EXH15.png
CFA0005-R-EXH21.png
CFA0005-R-EXH22.png
CFA0005-R-EXH24.png
CFA0005-R-EXH25.png
LRAS.csv
CFA0134-R-EXH4.png
CFA0134-R-EXH7.png
CFA0135-R-EXH10a.png
CFA0135-R-EXH10b.png
CFA0135-R-EXH11.png
us_balance_of_payment.csv
CFA_notes.numbers
Measurement_of_financial_assets.png
Screenshot 2020-10-27 at 16.02.40.png
cash_flow_ratios.csv
industry_specific_ratios.csv
credit_ratio.csv
bonds_price.png
salt-cfa-level-1-formulasheet.pdf
AreasWhereChoicesandEstimatesAffectFinancialReporting.csv
cost_of_capital.csv
short-term-securities.csv
